<launch>
  <!-- Map server -->
    <arg name="map_file" default="$(find my_robot)/maps/apartment_map.yaml"/>

    <!--launch Map Server node-->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- Localization -->
  <arg name="initial_pose_x" default="0.0"/> 
  <arg name="initial_pose_y" default="0.0"/> 
  <arg name="initial_pose_a" default="0.0"/>

  <arg name="custom_amcl_launch_file" default="$(find my_robot)/launch/includes/amcl.launch.xml"/>

  <include file="$(arg custom_amcl_launch_file)">

    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>

<!--
    <param name="min_particles" value="20"/>
    <param name="max_particles" value="2000"/>
    <param name="recovery_aplha_slow" value="0.001"/>
    <param name="recovery_aplha_fast" value="0.01"/>
    <param name="update_min_d" value="0.005"/> 
    <param name="update_min_a" value="0.02"/>
    <param name="resample_interval" value="3"/> 

    <param name="laser_min_range" value="-1.0"/>
    <param name="laser_max_range" value="10.0"/>
    <param name="laser_max_beams" value="30"/>
    <param name="laser_z_hit" value="0.95"/>
    <param name="laser_z_rand" value="0.05"/>


    <param name="odom_model_type" value="diff-corrected"/>
    <param name="odom_alpha1" value="0.003"/>
    <param name="odom_alpha2" value="0.005"/>
    <param name="odom_alpha3" value="0.005"/>
    <param name="odom_alpha4" value="0.005"/>

-->
  </include>

  <!-- Move base -->
 <include file="$(find my_robot)/launch/includes/move_base.launch.xml"/>
</launch>
