<?xml version="1.0"?>
<launch>

 <node name="marker_server_node" pkg="add_markers" type="marker_server_node" output="screen"/>
 
      <!--launch add_markers  -->
  <node name="add_marker_node" pkg="add_markers" type="add_marker_node" output="screen" />

  <node name="nav_goal_server_node" pkg="pick_objects" type="nav_goal_server_node"  output="screen"/>
       
      <!--launch pick_objects  -->
  <node name="autonomous_navigation_node" pkg="pick_objects" type="autonomous_navigation_node"  output="screen"/>
  

</launch>
